.TitleScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/db/images/pizzabox.png);
    background-size: 20%;
    image-rendering: pixelated;
    background-repeat: space;
}

.TitleScreen_logo {
    display: block;
    margin: 0 auto;
    width: 128px;
    image-rendering: pixelated;
}

.TitleScreen .KeyboardMenu {
    position: relative;
    width: 100px;
    margin: 0 auto;
    background: transparent;
    border: 0;
}

.TitleScreen button {
    color: #fff;
    background-color: var(--menu-selected-background);
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
}

.TitleScreen .DescriptionBox {
    color: var(--menu-selected-background);
    opacity: .9;
    border: 0;
    text-align: center;
}