.TitleScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/db/images/pizzabox.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(235, 215, 184);
    image-rendering: pixelated;
}

.TitleScreen_logo {
    display: block;
    margin: 0 auto;
    width: 128px;
    image-rendering: pixelated;
}

.TitleScreen .KeyboardMenu {
    position: relative;
    width: 100px;
    margin: 0 auto;
    background: transparent;
    border: 0;
}

.TitleScreen button {
    color: #fff;
    background-color: rgb(63, 145, 63);
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 10px;
}

.TitleScreen button:focus {
    background-color: rgb(115, 170, 115);
}

.TitleScreen .DescriptionBox {
    color: black;
    opacity: 0;
    border: 0;
    text-align: center;
}